html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: radial-gradient(circle, #000000, #0a0a0a, #1a1a1a);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
}

.clock {
  color: limegreen;            
  font-size: 8vw;              
  font-family: monospace;     
  text-align: center;
}

.date {
  color: #bbb;
  font-size: 2vw;
}
